In [4]:
# Useful starting lines
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
datapath = '../Data/Survey/'

In [6]:
#Read dataset and replace the first part by the updated ids
initial_surv = pd.read_csv(datapath + 'OriginalResults.csv')
first_part = pd.read_csv(datapath + 'HelperIDs.csv')
initial_surv.loc[first_part.index, :] = first_part[:]
initial_surv

,Horodateur,Age,Gender,Origin,Residence,Percentage of lifetime in a city,Image1 ID,Image2 ID,Winner,Person ID
0,21/11/2021 11:25:45,22,Male,Europe,Lausanne,0.907285,139,116,116,22139116.0
1,21/11/2021 11:25:56,22,Male,Europe,Lausanne,0.907285,10,184,10,22139116.0
2,21/11/2021 11:25:58,22,Male,Europe,Lausanne,0.907285,183,13,13,22139116.0
3,21/11/2021 11:26:05,22,Male,Europe,Lausanne,0.907285,17,339,17,22139116.0
4,21/11/2021 11:26:10,22,Male,Europe,Lausanne,0.907285,281,137,281,22139116.0
...,...,...,...,...,...,...,...,...,...,...
16683,2021/11/28 8:09:03 AM UTC+1,96,Male,Europe,Europe,0.3057395,322,154,154,96174338.0
16684,2021/11/28 8:09:07 AM UTC+1,96,Male,Europe,Europe,0.3057395,82,151,82,96174338.0
16685,2021/11/28 8:09:11 AM UTC+1,96,Male,Europe,Europe,0.3057395,410,423,410,96174338.0
16686,2021/11/28 8:09:13 AM UTC+1,96,Male,Europe,Europe,0.3057395,409,407,409,96174338.0
16687,2021/11/28 8:09:14 AM UTC+1,96,Male,Europe,Europe,0.3057395,449,220,449,96174338.0

In [7]:
initial_surv.describe()

                Age     Image1 ID     Image2 ID        Winner     Person ID
count  16688.000000  16688.000000  16688.000000  16688.000000  1.668800e+04
mean      40.822387    227.919942    230.122064    231.354986  2.204470e+07
std       96.629425    132.065298    131.262576    130.992137  2.435796e+07
min       12.000000      0.000000      0.000000      0.000000  9.990000e+02
25%       20.000000    114.000000    117.000000    113.000000  2.220863e+06
50%       23.000000    229.000000    233.000000    235.500000  1.935638e+07
75%       30.000000    342.000000    343.000000    340.000000  2.423031e+07
max      999.000000    457.000000    457.000000    457.000000  9.617434e+07

In [8]:
#First, remove all the "999", visually detected as spammers
surv_999 = initial_surv.drop(initial_surv[initial_surv['Person ID'] == 999].index)
surv_999.describe()

                Age     Image1 ID     Image2 ID        Winner     Person ID
count  15826.000000  15826.000000  15826.000000  15826.000000  1.582600e+04
mean      31.807279    228.011942    229.801340    231.219639  2.324537e+07
std       20.234352    132.295708    131.309658    131.127368  2.444826e+07
min       12.000000      0.000000      0.000000      0.000000  2.160600e+04
25%       20.000000    113.000000    117.000000    113.000000  2.299160e+06
50%       22.000000    230.000000    231.000000    236.000000  1.941624e+07
75%       30.000000    342.000000    342.750000    339.000000  2.441421e+07
max       96.000000    457.000000    457.000000    457.000000  9.617434e+07

In [9]:
#Remap indices to avoid holes
surv_999.index = range(0,len(surv_999))

In [10]:
ids = surv_999['Person ID'].unique()
#print(ids.shape)

def remove_last_answers(survey, think_threshold = 1):
    for i in ids:
        rows = survey[survey['Person ID'] == i].index

        min_rows_size = int(len(rows)*think_threshold)
        rows = rows[min_rows_size:]

        survey.drop(rows, inplace=True)

    survey.index = range(0,len(surv_999)) 
    return survey

surv_999 = remove_last_answers(surv_999)
surv_999.describe()

                Age     Image1 ID     Image2 ID        Winner     Person ID
count  15826.000000  15826.000000  15826.000000  15826.000000  1.582600e+04
mean      31.807279    228.011942    229.801340    231.219639  2.324537e+07
std       20.234352    132.295708    131.309658    131.127368  2.444826e+07
min       12.000000      0.000000      0.000000      0.000000  2.160600e+04
25%       20.000000    113.000000    117.000000    113.000000  2.299160e+06
50%       22.000000    230.000000    231.000000    236.000000  1.941624e+07
75%       30.000000    342.000000    342.750000    339.000000  2.441421e+07
max       96.000000    457.000000    457.000000    457.000000  9.617434e+07

In [11]:
#Detect suspicious answers (repetitions, spamming)
def find_suspicious_indices(surv, batch = 25, bound = 15):
    """" For each index i, look at the <batch> consecutives answers starting from i
         and check if more than <bound> of them are the on the same side"""

    suspicious = {}
    for i in range (1000):
        max_right = 0
        max_left = 0

        nb_consecutive_right = 0
        nb_consecutive_left = 0

        previous_choice = 'right'
        person_id = surv.loc[i,'Person ID']

        k=0

        while (k < batch & i+k < len(surv)):
            if(person_id == surv.loc[i+k,'Person ID']):
                if(surv.loc[i+k, 'Winner'] == surv.loc[i+k, 'Image2 ID']):
                    if(previous_choice == 'right'):
                        nb_consecutive_right += 1
                    else:
                        max_left = max(max_left, nb_consecutive_left)
                        nb_consecutive_left = 0
                        nb_consecutive_right = 1

                    previous_choice = 'right'

                elif(surv.loc[i+k, 'Winner'] == surv.loc[i+k, 'Image1 ID']):
                    if(previous_choice == 'left'):
                        nb_consecutive_left += 1
                    else:
                        max_right = max(max_right, nb_consecutive_right)
                        nb_consecutive_right = 0
                        nb_consecutive_left = 1

                    previous_choice = 'left' 

            k+=1           

        max_left =   max(max_left, nb_consecutive_left)
        max_right = max(max_right, nb_consecutive_right)      

        if((max_left > bound) or (max_right > bound)):
            if(not (person_id in suspicious)):
                suspicious[person_id] = i

    return suspicious  

suspicious = find_suspicious_indices(surv_999)

In [12]:
print(suspicious)

{}

In [13]:
#Drop duplicated data (spamming or mistakingly select twice)
surv_drop_dup = surv_999.drop_duplicates(subset=['Origin', 'Residence', 'Age', 'Percentage of lifetime in a city', 'Image1 ID', 'Image2 ID', 'Winner', 'Person ID'])
surv_drop_dup.describe()

                Age     Image1 ID     Image2 ID        Winner     Person ID
count  15661.000000  15661.000000  15661.000000  15661.000000  1.566100e+04
mean      31.880276    228.112381    230.003959    231.265500  2.332506e+07
std       20.285596    132.310587    131.318448    131.177926  2.449228e+07
min       12.000000      0.000000      0.000000      0.000000  2.160600e+04
25%       20.000000    113.000000    117.000000    113.000000  2.299160e+06
50%       22.000000    230.000000    232.000000    236.000000  1.941624e+07
75%       30.000000    342.000000    343.000000    340.000000  2.441421e+07
max       96.000000    457.000000    457.000000    457.000000  9.617434e+07

In [14]:
#Remap indices
surv_drop_dup.index = range(0,len(surv_drop_dup))

In [15]:
#rank images
def rank_images(clean_surv):
    win = pd.DataFrame(clean_surv['Winner'].value_counts())
    win.sort_index(ascending=True, inplace=True)
    im1 = pd.DataFrame(clean_surv['Image1 ID'].value_counts())
    im1.sort_index(ascending=True, inplace=True)
    im2 = pd.DataFrame(clean_surv['Image2 ID'].value_counts())
    im2.sort_index(ascending=True, inplace=True)
    occur = pd.DataFrame(im1.values+im2.values, columns=['Image occurence'])
    contest = pd.concat([occur, win],axis=1)
    contest['Win ratio'] = contest['Winner'] / contest['Image occurence']
    contest.reset_index(inplace=True)
    contest.drop(['Image occurence','Winner'], axis=1, inplace=True)
    contest.fillna(0.0, inplace=True)
    return contest

In [16]:
#Now look at outliers/potential spammers: look at result of each battle and check 
#if they choose very differently from the rest of the people

def check_outliers(survey, ranking, threshold = 0.5):
    outliers = {}
    outlier_indices = []

    
    for i in range(len(survey)):
        person_id = survey.loc[i,'Person ID']
        id1 = survey.loc[i,'Image1 ID']
        id2 = survey.loc[i,'Image2 ID']
        winId = survey.loc[i,'Winner']
        lossId = id1

        rkwin = ranking.loc[winId,'Win ratio']
        if(winId == id1):
            lossId = id2

        rkloss = ranking.loc[lossId,'Win ratio']
        if(rkloss - rkwin > threshold):
            outliers[person_id] = outliers.get(person_id,0) + 1
            outlier_indices.append(i)

    return outliers, outlier_indices

def remove_outliers(outliers, outlier_indices, survey, threshold = 2):
    IDmamy = 81198294
    outliers_ids_to_remove = []
    for id in outliers:
        if((outliers[id] >= threshold) & (id != IDmamy)):
            outliers_ids_to_remove.append(id)

    final_data = survey

    #First remove all the individual outliers
    for index in outlier_indices:
        final_data = final_data.drop(index)

    #Then remove the potential spammers
    final_data = final_data[~final_data['Person ID'].isin(outliers_ids_to_remove)]

    return final_data

In [17]:
def iteratively_remove_outliers(survey, difference_threshold = 0.5, outlier_threshold = 2, nb_iterations = 10):
    surv_outliers = survey
    
    for n in range(nb_iterations):
        ranking = rank_images(surv_outliers)    
        outliers, outlier_indices = check_outliers(surv_outliers, ranking, difference_threshold)  
        nb_outliers = len(outliers)
        print(outliers, nb_outliers)
        surv_outliers = remove_outliers(outliers, outlier_indices, surv_outliers, outlier_threshold)
        surv_outliers.index = range(0,len(surv_outliers))

        if(nb_outliers == 0):
            break

    return surv_outliers    
    
surv_outliers = iteratively_remove_outliers(surv_drop_dup)
surv_outliers.describe()

{2131299.0: 1, 2331265.0: 1, 19254248.0: 1, 21242425.0: 1, 23444195.0: 2, 24230309.0: 1, 234361.0: 1, 228445.0: 3, 25176195.0: 1, 23423379.0: 1, 20180416.0: 1, 17377300.0: 4, 22362411.0: 1, 2029490.0: 1, 30359428.0: 1, 18321387.0: 1, 21289178.0: 2, 48289156.0: 2, 18367348.0: 1, 81198294.0: 2, 2521896.0: 6, 1832653.0: 1, 20396128.0: 1, 1739376.0: 2, 23118298.0: 1, 1734114.0: 1, 19397394.0: 2} 27
{2331265.0: 2, 22246338.0: 1, 22318216.0: 1, 24230309.0: 1, 2220863.0: 1, 2367228.0: 1, 2236293.0: 1, 48284448.0: 1, 30359428.0: 1, 2029490.0: 1, 22140445.0: 1, 18367348.0: 1, 74389456.0: 1, 2222576.0: 1, 50406193.0: 1, 2517315.0: 1} 16
{2299160.0: 1, 2442397.0: 1, 306341.0: 1, 195031.0: 1} 4
{21261112.0: 1} 1
{} 0

                Age     Image1 ID     Image2 ID        Winner     Person ID
count  14254.000000  14254.000000  14254.000000  14254.000000  1.425400e+04
mean      32.559632    227.012418    230.548688    230.618353  2.395758e+07
std       20.909320    132.377288    131.419003    131.196153  2.509833e+07
min       12.000000      0.000000      0.000000      0.000000  2.160600e+04
25%       20.000000    112.000000    117.000000    111.000000  2.299160e+06
50%       22.000000    228.000000    233.000000    235.000000  2.013920e+07
75%       30.000000    341.000000    344.000000    338.750000  2.443626e+07
max       96.000000    457.000000    457.000000    457.000000  9.617434e+07

In [18]:
ranking = rank_images(surv_outliers) 
print(ranking.sort_values(by=['Win ratio']))

     index  Win ratio
304    304   0.015873
136    136   0.061538
6        6   0.070175
127    127   0.079365
413    413   0.080000
..     ...        ...
193    193   0.891304
251    251   0.894737
262    262   0.895522
326    326   0.910714
100    100   0.916667

[458 rows x 2 columns]

In [19]:
final_data = surv_outliers
final_data.describe()

                Age     Image1 ID     Image2 ID        Winner     Person ID
count  14254.000000  14254.000000  14254.000000  14254.000000  1.425400e+04
mean      32.559632    227.012418    230.548688    230.618353  2.395758e+07
std       20.909320    132.377288    131.419003    131.196153  2.509833e+07
min       12.000000      0.000000      0.000000      0.000000  2.160600e+04
25%       20.000000    112.000000    117.000000    111.000000  2.299160e+06
50%       22.000000    228.000000    233.000000    235.000000  2.013920e+07
75%       30.000000    341.000000    344.000000    338.750000  2.443626e+07
max       96.000000    457.000000    457.000000    457.000000  9.617434e+07

In [20]:
final_data.to_csv(datapath + 'CleanedResults.csv')